<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <p>Question Form:</p>
        <div>
            <form method="POST" action="/new">
                <label>author:</label>
                <br></br>
                <input></input>
                <br></br>
                <label>message:</label>
                <br></br>
                <input></input>
                <br></br>
                <button type="submit">Submit Message</button>
            </form>
        </div>
    </body>
</html>